In [56]:
#これは明日20200106に走らせましょう！
#明日２０２００１２５はここを治そう
import numpy as np
import sys,os
import config2
CONSUMER_KEY    = config2.CONSUMER_KEY
CONSUMER_SECRET = config2.CONSUMER_SECRET
ACCESS_TOKEN = config2.ACCESS_TOKEN
ACCESS_TOKEN_SECRET = config2.ACCESS_TOKEN_SECRET
import tweepy
auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
auth.set_access_token(ACCESS_TOKEN, ACCESS_TOKEN_SECRET)
api = tweepy.API(auth,wait_on_rate_limit = True)#,wait_on_rate_limit_notify= True #PLOT TIME
#user = sys.argv[1]
import pandas as pd

In [123]:
df=pd.read_csv("df_mix2.csv")
df=df.drop("Unnamed: 0",axis=1)[1:]
df=df.reset_index()
df=df.drop("index",axis=1)
df.columns = list(range(199))
list_real=[]
list_real=df[0]
list_real=list_real[10:11]
list_real

10    3251082536
Name: 0, dtype: int64

In [124]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,189,190,191,192,193,194,195,196,197,198
0,806345744491761664,1031554232376160256,711040002361167872,1007631223252893696,1425252822,1497996936,2467339838,1212504482,978988608177745920,206007143,...,82487821,2420101994,768007380348997632,1085443635980582912,1085442632191332352,902154674811191296,22192243,14989786,349691401,3192222876
1,1195139980860903424,3303072043,1100166076434866176,94485981,890078296536383488,1182622842615222272,1135843590050066432,1155119494651453440,1149062525729660928,1171732248132849664,...,112597722,700406067692306432,3314339450,1335903416,76038182,58452145,73076657,947483369784328192,980950247072350208,1869301273
2,1179556940726206464,723906028564144128,1154610271467343872,1198216659305213952,3096006038,972848635011411968,1434975787,1086455922241593344,1040137983603527680,1561327374,...,1087602385675907072,1108640257124130816,728955815462207488,3143013216,1642817190,53027334,1107559141482979328,912633237498773504,837556826086371328,778412159218831360
3,1204745479969366016,1186615314995273728,1202144208309501952,1194378745253105664,1023472068552052736,119608188,1147856709693534208,936999722,1185571042921570304,1148088224264249344,...,0,0,0,0,0,0,0,0,0,0
4,885806484369440768,1200733026512035840,1022036054390366208,846575913542213632,1067769172015308800,1073859420671533056,3259458049,850214200144044032,706640679246508032,1191472374136180736,...,851285327389925376,910704842875691008,346633601,74404226,743760942811357184,518066638,4717620475,518622430,870257878656892928,869765434664296448

In [125]:
follower_list=[]
def skip_func(list):
    cnt=0
    for i in list:
        padd= [0] * 200
        try :
            #got=api.followers_ids(i,count=200)
            got=api.friends_ids(i,count=200)
            go0=api.get_user(i).description
            go1=api.get_user(i).screen_name
            go2=api.get_user(i).friends_count
            go3=api.get_user(i).followers_count
            go4=api.get_user(i).statuses_count
            go5=api.get_user(i).favourites_count
        except :
            print('========NG=============',cnt)# pass (Real code == pass ,Practice code == print(NG))
            follower_list.append(padd)
        else :
            print('==========OK==========',cnt)
            #followerData["Follower_id"] = str(a)
            #followerDatas.append(followerData)
            #followerDatas.append(a)
            #got=got.
            follower_list.append(got)
            follower_list.insert(0,go0)
            follower_list.insert(1,go1)
            follower_list.insert(2,go2)
            follower_list.insert(3,go3)
            follower_list.insert(4,go4)
            follower_list.insert(5,go5)
            #follower_list=follower_list[0]
        cnt+=1

In [126]:
skip_func(list_real)
#follower_list

==========OK========== 0

In [79]:
#〇〇大学とか〇〇高校とか〇〇社とかのワードがdiscripition に含まれるのから自動で収集したらいいのでは？

In [121]:
pd.set_option("display.max_rows", 250)
df=pd.DataFrame(follower_list)
df1=df.fillna(0)
df0=pd.DataFrame(list_real)
df0.columns=["ID"]
df2=pd.concat([df0, df1],axis=1)
df2=df2.fillna(0)
df2.to_csv("kana.csv")

In [127]:
o=list(range(200))
o.insert(0,"ID")
o.insert(1,"Screen_name")
o.insert(2,"Description")
o.insert(3,"Friends_count")
o.insert(4,"Follower_count")
o.insert(5,"Tweet_count")
o.insert(6,"Favourites_count")
#お気に入り登録した数
df2.columns=o

ValueError: Length mismatch: Expected axis has 201 elements, new values have 207 elements

In [122]:
df2.head()

,ID,0,1,2,3,4,5,6,7,8,...,190,191,192,193,194,195,196,197,198,199
0,0.000000e+00,1.201734e+18,1.390743e+09,1.214379e+18,6.321109e+08,1.220573e+18,1.220575e+18,1.165423e+18,1.173185e+18,1.219894e+18,...,1.497926e+09,1.170879e+18,1.182318e+18,9.634048e+17,1.127002e+18,2.440198e+09,9.980546e+17,2.270159e+09,1.155763e+18,1.137654e+18
1,0.000000e+00,8.713940e+17,5.845174e+08,7.494525e+17,1.718258e+08,7.121855e+17,3.332004e+08,1.048044e+08,2.777762e+08,5.871431e+08,...,1.054372e+18,3.185178e+09,1.120275e+18,9.628647e+17,2.533714e+08,1.448799e+07,9.656273e+17,5.725505e+08,2.339986e+08,1.715287e+08
2,0.000000e+00,1.210601e+18,1.219009e+18,7.705271e+17,1.179723e+18,1.135109e+18,2.312664e+09,1.217287e+18,1.162334e+18,1.192924e+18,...,1.163595e+18,1.160528e+18,1.155746e+18,1.173777e+18,1.175029e+18,1.142291e+18,1.178158e+18,1.170309e+18,1.173892e+18,1.141101e+18
10,3.251083e+09,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
11,1.109701e+08,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00

In [175]:
df2.loc[0]["description"]

'生きてるだけで褒めてください。なんでも屋です。成人です。'

In [176]:
api.get_user(list_real[i]).friends_count

1452

In [177]:
api.get_user(list_real[i]).followers_count

71

In [178]:
api.get_user(list_real[i]).listed_count

1

In [180]:
api.get_user(list_real[i]).protected
#鍵アカかどうか

False

In [181]:
api.get_user(list_real[i]).statuses_count
#ツイート数

746

In [26]:
#follower_list
len(follower_list[9])

IndexError: list index out of range

In [45]:
follower_list[0]=follower_list[0][:200]

In [55]:
pd.DataFrame(follower_list)

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,21175897,849853053004005376,116435471,1047124620447367168,926132791372267520,789785222283874304,1157140180618235906,740451576972742656,1122593518596157440,883988311152312320,...,931924231,2158391,1072784962233892864,869221316880027649,4299439932,893454717358964740,59401975,1062003601281703937,739731540364533760,844865315028713476

In [93]:
p=list(range(10))

In [88]:
p1=p

In [95]:
p1.append(p)

In [96]:
p1.insert(0,p)

In [98]:
p.append(p)

In [101]:
p.insert(1,p)

In [102]:
p

[0, [...], 1, 2, 3, 4, 5, 6, 7, 8, 9, [...]]