In [1]:
import pandas as pd

In [48]:
df00=pd.read_csv("B_nw_25day.csv").drop("Unnamed: 0",axis=1)
df01=pd.read_csv("B!_id_Friends!.csv").drop("Unnamed: 0",axis=1)
df01=df01["0"]

In [ ]:
df00=pd.read_csv("A_nw_25day.csv").drop("Unnamed: 0",axis=1)
df01=pd.read_csv("A!-id_Friends!.csv").drop("Unnamed: 0",axis=1)
df01=df01["0"]

In [49]:
df00.head()

   0   1
0  0  11
1  0  33
2  0  44
3  0  55
4  0  66

In [50]:
df01.head()

0    1141244468802097154
1    1103548121513046016
2    1212798792698695680
3     753066658340536320
4    1153914005532004352
Name: 0, dtype: int64

In [27]:
i=1
num=df00["0"][i]
df00["0"][i]=df01[num]

/home/deeps/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [51]:
df00=pd.read_csv("B_nw_25day.csv").drop("Unnamed: 0",axis=1)
df000=df00
for i in range(len(df000["0"])):
    num=df000["0"][i]
    df000["0"][i]=df01[num]

In [52]:
for i in range(len(df000["1"])):
    num=df000["1"][i]
    df000["1"][i]=df01[num]

In [53]:
col=["ID==>>","friendID"]
df000.columns=col

In [54]:
df000.to_csv("df001.csv")